{% extends 'warcraft_app/base.html' %}
{% load static %}
{% block link %}
  <style>
    .main-div {
      background-image: url("{% static 'warcraft_app/images/wallpaper_audio.jpg' %}");
      min-height: 100vh;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    h1 {
      color: white;
      
    }

    span {
      color: red;
    }
  </style>
{% endblock link %}
{% block content %}
  <div class="root-div d-flex">
    {% include 'warcraft_app/audios_sidebar.html' %}
    <div class="main-div flex-grow-1">
      <h1 class="text-center">
        <span>А</span>удио
      </h1>
    </div>
  </div>
{% endblock content %}
